In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

In [2]:
#Load and csv exported from sql
attendance_data_csv = "./Resources/attendance_data_sql.csv"

attendance_df = pd.read_csv(attendance_data_csv)
attendance_df.head()

,admits,usedate,plu,pluname,accesscode,accesscodegroup,accesscodename,usageid,saledatetime,salenode,zipcode,city,county,stateloc,subgroup,maingroup
0,1,2022-02-22 00:00:00,GA01010TDP,Adult Admission,108,1 GA,Timed Ticketing GA,10000000,2022-02-22 13:46:00,406,84129,SALT LAKE CITY,Salt Lake,UT,"Salt Lake City, Taylorsville",Salt Lake County
1,1,2022-02-22 00:00:00,GA01055TDP,Teen Admission,108,1 GA,Timed Ticketing GA,10000002,2022-02-22 13:46:00,406,84129,SALT LAKE CITY,Salt Lake,UT,"Salt Lake City, Taylorsville",Salt Lake County
2,1,2022-02-22 00:00:00,GA01060T,2 & Under Admission,108,1 GA,Timed Ticketing GA,10000003,2022-02-22 13:46:00,406,84129,SALT LAKE CITY,Salt Lake,UT,"Salt Lake City, Taylorsville",Salt Lake County
3,0,2022-02-22 00:00:00,TI0003,Tuki's Island Member,450,9 Fun Center,Tuki's Island,10000004,2022-02-22 14:04:00,32,84010,BOUNTIFUL,Davis,UT,Bountiful,Davis
4,0,2022-02-22 00:00:00,TI0003,Tuki's Island Member,450,9 Fun Center,Tuki's Island,10000005,2022-02-22 14:04:00,32,84010,BOUNTIFUL,Davis,UT,Bountiful,Davis

In [3]:
#Count rows of sql data
row_count = len(attendance_df)
row_count

943902

In [4]:
#Check data types of sql data
attendance_df.dtypes

admits              int64
usedate            object
plu                object
pluname            object
accesscode          int64
accesscodegroup    object
accesscodename     object
usageid             int64
saledatetime       object
salenode            int64
zipcode             int64
city               object
county             object
stateloc           object
subgroup           object
maingroup          object
dtype: object

In [5]:
#Convert usedate column to datetime datatype
attendance_df['usedate'] = pd.to_datetime(attendance_df.usedate)

In [6]:
#Convert saledatetime to datetime datatype
attendance_df['saledatetime'] = pd.to_datetime(attendance_df.saledatetime, format='%Y-%m-%d %H:%M:%S', errors='coerce')

In [7]:
attendance_df['year'] = attendance_df['saledatetime'].dt.year
attendance_df['month'] = attendance_df['saledatetime'].dt.month
attendance_df['day'] = attendance_df['saledatetime'].dt.day

In [8]:
#Check for earliest year recorded in data
attendance_df.year.min()

2000

In [9]:
#Check for lastest year recorded in data
attendance_df.year.max()

2023

In [10]:
#Filter dataframe to include data after 2021 only
date_filtered_attendance_df = attendance_df[(attendance_df['saledatetime'] > '2021-01-01')]
date_filtered_attendance_df.reset_index(drop=True, inplace=True)

In [11]:
#Check for earliest year recorded in date filtered data
date_filtered_attendance_df.year.min()

2021

In [12]:
#Check for lastest year recorded in date filtered data
date_filtered_attendance_df.year.max()

2023

In [13]:
#Count rows of data after filtering off data earlier than 2021. Note data loss in printed message. 
#*Note that overall data loss from cleaning and filtering is 168,296
date_filtered_row_count = len(date_filtered_attendance_df)
date_filtered_row_count
print(f"Further data loss from filtering data by date (>2021): {row_count - date_filtered_row_count}")

Further data loss from filtering data by date (>2021): 63624

In [14]:
#Print total data loss from filtering dates
print(f"Total remaining data row count: {date_filtered_row_count}")

Total remaining data row count: 880278

In [15]:
#Inspect accesscodegroup column for issues by listing all unique values
date_filtered_attendance_df.accesscodegroup.unique()

array(['1 GA', '9 Fun Center', '3 Members', '4 Comp', '9 Camp', '2 Group',
       '5 School', '8 EN', 'CHARITABLE', '6 Event', '7 Fac Rental',
       'FAM MEM', 'PARTY', '10 Camp', 'MARKETING', 'VR', 'PROMOTION'],
      dtype=object)

In [16]:
#Check the number of unique zipcode values
date_filtered_attendance_df.zipcode.nunique()

9849

In [17]:
#Check the number of unique city values
date_filtered_attendance_df.city.nunique()

5054

In [18]:
#Inspect county column for issues by listing all unique values
date_filtered_attendance_df.county.unique()

array(['Salt Lake', 'Davis', 'Utah', 'Uintah', 'Weber', 'unknown',
       'Cache', 'Summit', 'Juab', 'Morgan', 'Tooele', 'Beaver', 'Grand',
       'Wasatch', 'Box Elder', 'Iron', 'Washington', 'Daggett',
       'Duchesne', 'Sanpete', 'Sevier', 'Kane', 'Millard', 'Garfield',
       'Rich', 'Emery', 'Carbon', 'Wayne', 'Piute', 'San Juan'],
      dtype=object)

In [19]:
#Inspect stateloc column for issues by listing all unique values
date_filtered_attendance_df.stateloc.unique()

array(['UT', 'ID', 'unknown', 'CA', 'WY', 'AZ', 'MO', 'IN', 'WA', 'TX',
       'CO', 'NY', 'NM', 'FL', 'AR', 'SC', 'ME', 'RI', 'PA', 'MI', 'MT',
       'VA', 'MA', 'IL', 'MD', 'IA', 'NV', 'VT', 'NH', 'MN', 'OK', 'HI',
       'NJ', 'OH', 'WI', 'KY', 'AK', 'CT', 'GA', 'ND', 'OR', 'NE', 'TN',
       'NC', 'LA', 'DE', 'AE', 'PR', 'SD', 'KS', 'MS', 'AL', 'AP', 'DC',
       'WV', 'AA', 'VI', 'MP', 'GU'], dtype=object)

In [20]:
#Inspect subgroup column for issues by listing all unique values
date_filtered_attendance_df.subgroup.unique()

array(['Salt Lake City, Taylorsville', 'Bountiful', 'Salt Lake City',
       'Provo', 'West Jordan', 'Vernal', 'Riverton', 'Kaysville',
       'American Fork', 'Sandy', 'Midvale', 'Lehi', 'Ogden', 'Clearfield',
       'Herriman', 'Saratoga Springs', 'Outside Utah', 'Wellsville',
       'South Jordan', 'unknown', 'Draper', 'Orem', 'Park City', 'Nephi',
       'Morgan', 'Pleasant Grove', 'West Jordan, West Valley City',
       'Tooele', 'Eagle Mountain', 'Milford', 'Logan', 'Moab', 'Alpine',
       'Heber City', 'Mantua', 'Syracuse', 'Magna', 'Layton',
       'Cedar City', 'Roy', 'Springville', 'Hurricane', 'Santaquin',
       'Manila', 'Payson', 'Lindon', 'North Salt Lake', 'Hill Afb',
       'Duchesne', 'Altonah', 'Spanish Fork', 'Event, School, etc.',
       'Stockton', 'Salem', 'Altamont', 'Woods Cross', 'Tremonton',
       'Saint George', 'Talmage', 'Ephraim', 'Midway', 'Centerville',
       'Richfield', 'Rush Valley', 'Glendale', 'Delta', 'Santa Clara',
       'Ivins', 'Bryce', 'Roosevelt', 'Randolph', 'Brigham City',
       'Smithfield', 'Paradise', 'Willard', 'Riverside', 'Kamas',
       'Bear River City', 'Farmington', 'Grantsville', 'Hooper',
       'Mapleton', 'Garland', 'Bluebell', 'Coalville', 'Hyde Park',
       'Garden City', 'Annabella', 'Neola', 'Meadow', 'Jensen', 'Newton',
       'Tabiona', 'Providence', 'Manti', 'Mount Pleasant', 'Levan',
       'Kanab', 'Mona', 'Fielding', 'Fort Duchesne', 'Hyrum', 'Ferron',
       'Price', 'Eden', 'Cedar Valley', 'Oakley', 'Gunlock', 'Helper',
       'Centerfield', 'Deweyville', 'Gunnison', 'Myton', 'Fruitland',
       'Croydon', 'Bingham Canyon', 'Peoa', 'Dutch John', 'Washington',
       'Tridell', 'Huntsville', 'Echo', 'Henefer', 'Fairview', 'Wales',
       'Monroe', 'Hinckley', 'Lyman', 'Fillmore', 'Clarkston', 'Lapoint',
       'Mountain Home', 'Junction', 'Monticello', 'Huntington', 'Mendon',
       'Bicknell', 'Lewiston', 'Millville', 'Beaver', 'Park Valley',
       'Wendover', 'Woodruff', 'Green River', 'Glenwood', 'Leeds',
       'Dugway', 'Whiterocks', 'East Carbon', 'Laketown', 'Enterprise',
       'Honeyville', 'Collinston', 'Spring City', 'Elsinore', 'Emery',
       'Redmond', 'Cache Junction', 'Vernon', 'Goshen', 'Richmond',
       'Orangeville', 'Moroni', 'Elmo', 'Elberta', 'Koosharem', 'Lynndyl',
       'Blanding', 'Chester', 'Hanna', 'Mayfield', 'Boulder', 'Cornish',
       'Wallsburg', 'Orderville', 'New Harmony', 'Loa', 'Hanksville',
       'Randlett', 'Mexican Hat', 'Fountain Green', 'Leamington',
       'Aurora', 'Sterling', 'Thompson', 'Central', 'Salina', 'Torrey',
       'Aneth', 'La Verkin', 'Castle Dale', 'Paragonah', 'Newcastle',
       'Marysvale', 'Montezuma Creek', 'Dammeron Valley', 'Springdale',
       'Portage', 'Parowan', 'Lake Powell', 'Monument Valley',
       'Toquerville', 'Sunnyside', 'Eureka', 'Trenton', 'Wellington',
       'Hildale', 'Howell', 'Bonanza', 'Circleville', 'Oak City', 'Veyo',
       'Corinne', 'Ibapah', 'Minersville', 'Cleveland', 'Kingston',
       'Snowville', 'Duck Creek Village', 'Summit', 'Scipio', 'Panguitch',
       'Sigurd', 'Holden', 'Clawson', 'Sevier', 'Joseph', 'Axtell',
       'Kenilworth', 'Kanosh', 'Fayette', 'Escalante', 'Bluff',
       'Teasdale', 'Plymouth', 'Grouse Creek', 'La Sal', 'Cisco',
       'Cannonville', 'Garrison', 'Alton', 'Henrieville', 'Kanarraville',
       'Greenville', 'Antimony', 'Beryl', 'Virgin', 'Tropic',
       'Brian Head', 'Mount Carmel', 'Rockville', 'Pine Valley', 'Hatch'],
      dtype=object)

In [21]:
#Inspect maingroup column for issues by listing all unique values
date_filtered_attendance_df.maingroup.unique()

array(['Salt Lake County', 'Davis', 'Utah County', 'Other Utah Counties',
       'Out of State', 'unknown'], dtype=object)

In [22]:
#Filter dataframe to include only general admission ('1 GA') and membership ticketing ('3 Members', 'FAM MEM'), excluding all other transactions.
membership_ga_filtered_attendance_df = date_filtered_attendance_df[date_filtered_attendance_df['accesscodegroup'].isin(['1 GA', '3 Members', 'FAM MEM'])]
membership_ga_filtered_attendance_df.reset_index(drop=True, inplace=True)
membership_ga_filtered_attendance_df

,admits,usedate,plu,pluname,accesscode,accesscodegroup,accesscodename,usageid,saledatetime,salenode,zipcode,city,county,stateloc,subgroup,maingroup,year,month,day
0,1,2022-02-22,GA01010TDP,Adult Admission,108,1 GA,Timed Ticketing GA,10000000,2022-02-22 13:46:00,406,84129,SALT LAKE CITY,Salt Lake,UT,"Salt Lake City, Taylorsville",Salt Lake County,2022,2,22
1,1,2022-02-22,GA01055TDP,Teen Admission,108,1 GA,Timed Ticketing GA,10000002,2022-02-22 13:46:00,406,84129,SALT LAKE CITY,Salt Lake,UT,"Salt Lake City, Taylorsville",Salt Lake County,2022,2,22
2,1,2022-02-22,GA01060T,2 & Under Admission,108,1 GA,Timed Ticketing GA,10000003,2022-02-22 13:46:00,406,84129,SALT LAKE CITY,Salt Lake,UT,"Salt Lake City, Taylorsville",Salt Lake County,2022,2,22
3,1,2022-02-22,GA01060T,2 & Under Admission,108,1 GA,Timed Ticketing GA,10000007,2022-02-22 14:04:00,11,84125,SALT LAKE CITY,Salt Lake,UT,Salt Lake City,Salt Lake County,2022,2,22
4,1,2022-02-22,GA01010TDP,Adult Admission,108,1 GA,Timed Ticketing GA,10000008,2022-02-22 14:04:00,11,84125,SALT LAKE CITY,Salt Lake,UT,Salt Lake City,Salt Lake County,2022,2,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
681524,1,2023-03-25,GA01050TDP,Child Admission,108,1 GA,Timed Ticketing GA,11295071,2023-03-25 15:46:00,16,84654,SALINA,Sevier,UT,Salina,Other Utah Counties,2023,3,25
681525,1,2023-03-25,GA01050TDP,Child Admission,108,1 GA,Timed Ticketing GA,11295072,2023-03-25 15:46:00,16,84654,SALINA,Sevier,UT,Salina,Other Utah Counties,2023,3,25
681526,1,2023-03-25,GA01020TDP,Senior Admission,108,1 GA,Timed Ticketing GA,11295076,2023-03-25 15:47:00,16,84047,MIDVALE,Salt Lake,UT,Midvale,Salt Lake County,2023,3,25
681527,1,2023-03-25,GA01010TDP,Adult Admission,108,1 GA,Timed Ticketing GA,11295077,2023-03-25 15:47:00,16,84047,MIDVALE,Salt Lake,UT,Midvale,Salt Lake County,2023,3,25
681528,1,2023-03-25,GA01010TDP,Adult Admission,108,1 GA,Timed Ticketing GA,11295078,2023-03-25 15:47:00,16,84047,MIDVALE,Salt Lake,UT,Midvale,Salt Lake County,2023,3,25

In [23]:
membership_ga_row_count = len(membership_ga_filtered_attendance_df)
membership_ga_row_count

681529

In [24]:
#Filter dataframe to include attendees from Utah
membership_ga_filtered_attendance_df = date_filtered_attendance_df[date_filtered_attendance_df['maingroup'].isin(['Salt Lake County', 'Davis', 'Utah County', 'Other Utah Counties'])]
membership_ga_filtered_attendance_df.reset_index(drop=True, inplace=True)
membership_ga_filtered_attendance_df

,admits,usedate,plu,pluname,accesscode,accesscodegroup,accesscodename,usageid,saledatetime,salenode,zipcode,city,county,stateloc,subgroup,maingroup,year,month,day
0,1,2022-02-22,GA01010TDP,Adult Admission,108,1 GA,Timed Ticketing GA,10000000,2022-02-22 13:46:00,406,84129,SALT LAKE CITY,Salt Lake,UT,"Salt Lake City, Taylorsville",Salt Lake County,2022,2,22
1,1,2022-02-22,GA01055TDP,Teen Admission,108,1 GA,Timed Ticketing GA,10000002,2022-02-22 13:46:00,406,84129,SALT LAKE CITY,Salt Lake,UT,"Salt Lake City, Taylorsville",Salt Lake County,2022,2,22
2,1,2022-02-22,GA01060T,2 & Under Admission,108,1 GA,Timed Ticketing GA,10000003,2022-02-22 13:46:00,406,84129,SALT LAKE CITY,Salt Lake,UT,"Salt Lake City, Taylorsville",Salt Lake County,2022,2,22
3,0,2022-02-22,TI0003,Tuki's Island Member,450,9 Fun Center,Tuki's Island,10000004,2022-02-22 14:04:00,32,84010,BOUNTIFUL,Davis,UT,Bountiful,Davis,2022,2,22
4,0,2022-02-22,TI0003,Tuki's Island Member,450,9 Fun Center,Tuki's Island,10000005,2022-02-22 14:04:00,32,84010,BOUNTIFUL,Davis,UT,Bountiful,Davis,2022,2,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606724,1,2023-03-25,GA01050TDP,Child Admission,108,1 GA,Timed Ticketing GA,11295071,2023-03-25 15:46:00,16,84654,SALINA,Sevier,UT,Salina,Other Utah Counties,2023,3,25
606725,1,2023-03-25,GA01050TDP,Child Admission,108,1 GA,Timed Ticketing GA,11295072,2023-03-25 15:46:00,16,84654,SALINA,Sevier,UT,Salina,Other Utah Counties,2023,3,25
606726,1,2023-03-25,GA01020TDP,Senior Admission,108,1 GA,Timed Ticketing GA,11295076,2023-03-25 15:47:00,16,84047,MIDVALE,Salt Lake,UT,Midvale,Salt Lake County,2023,3,25
606727,1,2023-03-25,GA01010TDP,Adult Admission,108,1 GA,Timed Ticketing GA,11295077,2023-03-25 15:47:00,16,84047,MIDVALE,Salt Lake,UT,Midvale,Salt Lake County,2023,3,25
606728,1,2023-03-25,GA01010TDP,Adult Admission,108,1 GA,Timed Ticketing GA,11295078,2023-03-25 15:47:00,16,84047,MIDVALE,Salt Lake,UT,Midvale,Salt Lake County,2023,3,25

In [25]:
membership_ga_filtered_attendance_df['member'] = np.where(membership_ga_filtered_attendance_df['accesscodegroup'] == '1 GA', 0, 1)
membership_ga_filtered_attendance_df.head(100)

C:\Users\camih\AppData\Local\Temp\ipykernel_34372\249562459.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  membership_ga_filtered_attendance_df['member'] = np.where(membership_ga_filtered_attendance_df['accesscodegroup'] == '1 GA', 0, 1)

,admits,usedate,plu,pluname,accesscode,accesscodegroup,accesscodename,usageid,saledatetime,salenode,zipcode,city,county,stateloc,subgroup,maingroup,year,month,day,member
0,1,2022-02-22,GA01010TDP,Adult Admission,108,1 GA,Timed Ticketing GA,10000000,2022-02-22 13:46:00,406,84129,SALT LAKE CITY,Salt Lake,UT,"Salt Lake City, Taylorsville",Salt Lake County,2022,2,22,0
1,1,2022-02-22,GA01055TDP,Teen Admission,108,1 GA,Timed Ticketing GA,10000002,2022-02-22 13:46:00,406,84129,SALT LAKE CITY,Salt Lake,UT,"Salt Lake City, Taylorsville",Salt Lake County,2022,2,22,0
2,1,2022-02-22,GA01060T,2 & Under Admission,108,1 GA,Timed Ticketing GA,10000003,2022-02-22 13:46:00,406,84129,SALT LAKE CITY,Salt Lake,UT,"Salt Lake City, Taylorsville",Salt Lake County,2022,2,22,0
3,0,2022-02-22,TI0003,Tuki's Island Member,450,9 Fun Center,Tuki's Island,10000004,2022-02-22 14:04:00,32,84010,BOUNTIFUL,Davis,UT,Bountiful,Davis,2022,2,22,1
4,0,2022-02-22,TI0003,Tuki's Island Member,450,9 Fun Center,Tuki's Island,10000005,2022-02-22 14:04:00,32,84010,BOUNTIFUL,Davis,UT,Bountiful,Davis,2022,2,22,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,2022-02-22,GA01010TDP,Adult Admission,108,1 GA,Timed Ticketing GA,10000177,2022-02-22 10:37:00,406,84648,NEPHI,Juab,UT,Nephi,Other Utah Counties,2022,2,22,0
96,1,2022-02-22,GA01060T,2 & Under Admission,108,1 GA,Timed Ticketing GA,10000178,2022-02-22 10:37:00,406,84648,NEPHI,Juab,UT,Nephi,Other Utah Counties,2022,2,22,0
97,1,2022-02-22,MB00012-15,Adult Membership Renewal,11,3 Members,Membership Readmit,10000180,2021-06-30 00:00:00,11,84020,DRAPER,Salt Lake,UT,Draper,Salt Lake County,2021,6,30,1
98,0,2022-02-22,TI0003,Tuki's Island Member,450,9 Fun Center,Tuki's Island,10000182,2022-02-22 14:25:00,32,84020,DRAPER,Salt Lake,UT,Draper,Salt Lake County,2022,2,22,1
99,0,2022-02-22,TI0003,Tuki's Island Member,450,9 Fun Center,Tuki's Island,10000183,2022-02-22 14:25:00,32,84020,DRAPER,Salt Lake,UT,Draper,Salt Lake County,2022,2,22,1

In [26]:
membership_ga_filtered_attendance_row_count = len(membership_ga_filtered_attendance_df)
membership_ga_filtered_attendance_row_count

606729

In [27]:
membership_ga_filtered_attendance_df['member'].value_counts()
#oversampling. Model will be skewed to "non-member" with this data set. 
#Use Imbalanced-Learn Module: https://www.geeksforgeeks.org/imbalanced-learn-module-in-python/

member
0    371032
1    235697
Name: count, dtype: int64

In [28]:
membership_ga_filtered_attendance_df.admits.unique()

array([ 1,  0,  4,  6,  3,  2,  5,  9, 13,  8,  7, 10, 11, -1, 16, 14, 12,
       15], dtype=int64)

In [29]:
membership_ga_filtered_attendance_df.zipcode.nunique()

332

In [30]:
membership_ga_filtered_attendance_df.city.nunique()

252

In [31]:
membership_ga_filtered_attendance_df.county.unique()

array(['Salt Lake', 'Davis', 'Utah', 'Uintah', 'Weber', 'Cache', 'Summit',
       'Juab', 'Morgan', 'Tooele', 'Beaver', 'Grand', 'Wasatch',
       'Box Elder', 'Iron', 'Washington', 'Daggett', 'Duchesne',
       'Sanpete', 'Sevier', 'Kane', 'Millard', 'Garfield', 'Rich',
       'Emery', 'Carbon', 'Wayne', 'Piute', 'San Juan', 'unknown'],
      dtype=object)

In [32]:
membership_ga_filtered_attendance_df.accesscodename.unique()

array(['Timed Ticketing GA            ', "Tuki's Island                 ",
       'Membership Readmit            ', 'Family Membership Readmit     ',
       'Membership                    ', 'Family Membership             ',
       'Comp                          ', 'Aquarium Admission            ',
       'Grandparent Membership Readmit', 'Youth/Family Program          ',
       'Adult                         ', 'Student                       ',
       'Grandparent Membership        ', 'Stingray Feed                 ',
       'Penguin Encounter             ', 'Party Admission               ',
       'CHARITABLE VOUCHER            ', 'Member Ticketed Admission     ',
       'Employee Membership           ', 'Group                         ',
       'MEMBERSHIP - FAMILY WEB       ', 'Party Room                    ',
       'Circle of Friends Membership  ', 'Summer Camp Attendance        ',
       'Summer Camp                   ', 'MARKETING VOUCHER ADULT       ',
       'VIRTUAL REALITY               ', 'PROMOTIONAL VOUCHER           ',
       'Volunteer Membership          '], dtype=object)

In [33]:
membership_ga_filtered_attendance_df.pluname.nunique()

137

In [34]:
membership_ga_filtered_attendance_df.stateloc.unique()

array(['UT'], dtype=object)

In [35]:
membership_ga_filtered_attendance_df.maingroup.unique()

array(['Salt Lake County', 'Davis', 'Utah County', 'Other Utah Counties'],
      dtype=object)

In [36]:
membership_ga_filtered_attendance_df.maingroup.value_counts()

maingroup
Salt Lake County       320805
Utah County            142681
Other Utah Counties     98239
Davis                   45004
Name: count, dtype: int64

In [37]:
membership_ga_filtered_attendance_df.value_counts(['maingroup', 'member'])

maingroup            member
Salt Lake County     0         161452
                     1         159353
Utah County          0          90148
Other Utah Counties  0          84807
Utah County          1          52533
Davis                0          34625
Other Utah Counties  1          13432
Davis                1          10379
Name: count, dtype: int64

In [38]:
membership_ga_filtered_attendance_df.value_counts(['city', 'member'])

city                member
SALT LAKE CITY      0         68422
DRAPER              1         40430
SALT LAKE CITY      1         37883
SANDY               1         22683
SOUTH JORDAN        1         17913
                              ...
EUREKA              1             1
JUNCTION            1             1
JOSEPH              1             1
DUCK CREEK VILLAGE  1             1
HIAWATHA            0             1
Name: count, Length: 464, dtype: int64

In [39]:
membership_ga_filtered_attendance_df.columns

Index(['admits', 'usedate', 'plu', 'pluname', 'accesscode', 'accesscodegroup',
       'accesscodename', 'usageid', 'saledatetime', 'salenode', 'zipcode',
       'city', 'county', 'stateloc', 'subgroup', 'maingroup', 'year', 'month',
       'day', 'member'],
      dtype='object')

In [40]:
#Group 'pluname' into separate columns for different demographic categories
#Exclude -1 admits, Employees, Volunteers, Party

#small family_or_group: duo, quad, 2-4 admits
membership_ga_filtered_attendance_df['small_family_group'] = np.where(
    (membership_ga_filtered_attendance_df['pluname'].str.contains('Duo', 'Quad') |
    ((membership_ga_filtered_attendance_df['admits'] > 1) & (membership_ga_filtered_attendance_df['admits'] < 5))
    ), 1, 0)
#medium family_or_group: family, 5-6 admits
membership_ga_filtered_attendance_df['medium_family_group'] = np.where(
    (membership_ga_filtered_attendance_df['pluname'].str.contains('Family') |
    ((membership_ga_filtered_attendance_df['admits'] >= 5) & (membership_ga_filtered_attendance_df['admits'] < 7))
    ), 1, 0)
#large family_or_group: premium, 7-16 admits
membership_ga_filtered_attendance_df['large_family_group'] = np.where(
    (membership_ga_filtered_attendance_df['pluname'].str.contains('Premium') |
    ((membership_ga_filtered_attendance_df['admits'] >= 7) & (membership_ga_filtered_attendance_df['admits'] <= 20))
    ), 1, 0)
#adult: adult
membership_ga_filtered_attendance_df['adult'] = np.where((membership_ga_filtered_attendance_df['pluname'].str.contains('Adult')), 1, 0)
#student: student
membership_ga_filtered_attendance_df['student'] = np.where((membership_ga_filtered_attendance_df['pluname'].str.contains('Student')), 1, 0)
#military: military
membership_ga_filtered_attendance_df['military'] = np.where((membership_ga_filtered_attendance_df['pluname'].str.contains('Military')), 1, 0)
#teen: teen
membership_ga_filtered_attendance_df['teen'] = np.where((membership_ga_filtered_attendance_df['pluname'].str.contains('Teen')), 1, 0)
#child: child 
membership_ga_filtered_attendance_df['child'] = np.where((membership_ga_filtered_attendance_df['pluname'].str.contains('Child')), 1, 0)
#two_and_under: 2 & Under
membership_ga_filtered_attendance_df['two_and_under'] = np.where((membership_ga_filtered_attendance_df['pluname'].str.contains('2 & Under')), 1, 0)
#senior: senior, grandparent
membership_ga_filtered_attendance_df['senior'] = np.where((membership_ga_filtered_attendance_df['pluname'].str.contains('Senior', 'Grandparent')), 1, 0)

expanded_attendance_df = membership_ga_filtered_attendance_df
expanded_attendance_df

C:\Users\camih\AppData\Local\Temp\ipykernel_34372\2960428650.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  membership_ga_filtered_attendance_df['small_family_group'] = np.where(
C:\Users\camih\AppData\Local\Temp\ipykernel_34372\2960428650.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  membership_ga_filtered_attendance_df['medium_family_group'] = np.where(
C:\Users\camih\AppData\Local\Temp\ipykernel_34372\2960428650.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  membership_ga_filtered_attendance_df['large_family_group'] = np.where(
C:\Users\camih\AppData\Local\Temp\ipykernel_34372\2960428650.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  membership_ga_filtered_attendance_df['adult'] = np.where((membership_ga_filtered_attendance_df['pluname'].str.contains('Adult')), 1, 0)
C:\Users\camih\AppData\Local\Temp\ipykernel_34372\2960428650.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  membership_ga_filtered_attendance_df['student'] = np.where((membership_ga_filtered_attendance_df['pluname'].str.contains('Student')), 1, 0)
C:\Users\camih\AppData\Local\Temp\ipykernel_34372\2960428650.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  membership_ga_filtered_attendance_df['military'] = np.where((membership_ga_filtered_attendance_df['pluname'].str.contains('Military')), 1, 0)
C:\Users\camih\AppData\Local\Temp\ipykernel_34372\2960428650.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  membership_ga_filtered_attendance_df['teen'] = np.where((membership_ga_filtered_attendance_df['pluname'].str.contains('Teen')), 1, 0)
C:\Users\camih\AppData\Local\Temp\ipykernel_34372\2960428650.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  membership_ga_filtered_attendance_df['child'] = np.where((membership_ga_filtered_attendance_df['pluname'].str.contains('Child')), 1, 0)
C:\Users\camih\AppData\Local\Temp\ipykernel_34372\2960428650.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  membership_ga_filtered_attendance_df['two_and_under'] = np.where((membership_ga_filtered_attendance_df['pluname'].str.contains('2 & Under')), 1, 0)
C:\Users\camih\AppData\Local\Temp\ipykernel_34372\2960428650.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  membership_ga_filtered_attendance_df['senior'] = np.where((membership_ga_filtered_attendance_df['pluname'].str.contains('Senior', 'Grandparent')), 1, 0)

,admits,usedate,plu,pluname,accesscode,accesscodegroup,accesscodename,usageid,saledatetime,salenode,...,small_family_group,medium_family_group,large_family_group,adult,student,military,teen,child,two_and_under,senior
0,1,2022-02-22,GA01010TDP,Adult Admission,108,1 GA,Timed Ticketing GA,10000000,2022-02-22 13:46:00,406,...,0,0,0,1,0,0,0,0,0,0
1,1,2022-02-22,GA01055TDP,Teen Admission,108,1 GA,Timed Ticketing GA,10000002,2022-02-22 13:46:00,406,...,0,0,0,0,0,0,1,0,0,0
2,1,2022-02-22,GA01060T,2 & Under Admission,108,1 GA,Timed Ticketing GA,10000003,2022-02-22 13:46:00,406,...,0,0,0,0,0,0,0,0,1,0
3,0,2022-02-22,TI0003,Tuki's Island Member,450,9 Fun Center,Tuki's Island,10000004,2022-02-22 14:04:00,32,...,0,0,0,0,0,0,0,0,0,0
4,0,2022-02-22,TI0003,Tuki's Island Member,450,9 Fun Center,Tuki's Island,10000005,2022-02-22 14:04:00,32,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606724,1,2023-03-25,GA01050TDP,Child Admission,108,1 GA,Timed Ticketing GA,11295071,2023-03-25 15:46:00,16,...,0,0,0,0,0,0,0,1,0,0
606725,1,2023-03-25,GA01050TDP,Child Admission,108,1 GA,Timed Ticketing GA,11295072,2023-03-25 15:46:00,16,...,0,0,0,0,0,0,0,1,0,0
606726,1,2023-03-25,GA01020TDP,Senior Admission,108,1 GA,Timed Ticketing GA,11295076,2023-03-25 15:47:00,16,...,0,0,0,0,0,0,0,0,0,1
606727,1,2023-03-25,GA01010TDP,Adult Admission,108,1 GA,Timed Ticketing GA,11295077,2023-03-25 15:47:00,16,...,0,0,0,1,0,0,0,0,0,0
606728,1,2023-03-25,GA01010TDP,Adult Admission,108,1 GA,Timed Ticketing GA,11295078,2023-03-25 15:47:00,16,...,0,0,0,1,0,0,0,0,0,0

In [57]:
attendance_model_df = expanded_attendance_df.loc[:, 
    [
    'year',
    'month',
    'member',
    'maingroup',
    'zipcode',
    'small_family_group',
    'medium_family_group',
    'large_family_group',
    'adult',
    'student',
    'military',
    'teen',
    'child',
    'two_and_under',
    'senior'  
    ]
]
attendance_model_df

,year,month,member,maingroup,zipcode,small_family_group,medium_family_group,large_family_group,adult,student,military,teen,child,two_and_under,senior
0,2022,2,0,Salt Lake County,84129,0,0,0,1,0,0,0,0,0,0
1,2022,2,0,Salt Lake County,84129,0,0,0,0,0,0,1,0,0,0
2,2022,2,0,Salt Lake County,84129,0,0,0,0,0,0,0,0,1,0
3,2022,2,1,Davis,84010,0,0,0,0,0,0,0,0,0,0
4,2022,2,1,Davis,84010,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606724,2023,3,0,Other Utah Counties,84654,0,0,0,0,0,0,0,1,0,0
606725,2023,3,0,Other Utah Counties,84654,0,0,0,0,0,0,0,1,0,0
606726,2023,3,0,Salt Lake County,84047,0,0,0,0,0,0,0,0,0,1
606727,2023,3,0,Salt Lake County,84047,0,0,0,1,0,0,0,0,0,0
606728,2023,3,0,Salt Lake County,84047,0,0,0,1,0,0,0,0,0,0

In [58]:
attendance_model_df['year'].value_counts()

year
2022    464196
2023    103468
2021     39065
Name: count, dtype: int64

In [59]:
attendance_model_df['month'].value_counts()

month
3     93170
7     59155
2     58259
4     57762
8     56652
12    48078
6     46452
5     42128
1     41721
11    38658
9     34097
10    30597
Name: count, dtype: int64

In [60]:
attendance_model_df['member'].value_counts()

member
0    371032
1    235697
Name: count, dtype: int64

In [61]:
dummies_attendance_model_df = pd.get_dummies(attendance_model_df, dtype=int)
dummies_attendance_model_df

,year,month,member,zipcode,small_family_group,medium_family_group,large_family_group,adult,student,military,teen,child,two_and_under,senior,maingroup_Davis,maingroup_Other Utah Counties,maingroup_Salt Lake County,maingroup_Utah County
0,2022,2,0,84129,0,0,0,1,0,0,0,0,0,0,0,0,1,0
1,2022,2,0,84129,0,0,0,0,0,0,1,0,0,0,0,0,1,0
2,2022,2,0,84129,0,0,0,0,0,0,0,0,1,0,0,0,1,0
3,2022,2,1,84010,0,0,0,0,0,0,0,0,0,0,1,0,0,0
4,2022,2,1,84010,0,0,0,0,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606724,2023,3,0,84654,0,0,0,0,0,0,0,1,0,0,0,1,0,0
606725,2023,3,0,84654,0,0,0,0,0,0,0,1,0,0,0,1,0,0
606726,2023,3,0,84047,0,0,0,0,0,0,0,0,0,1,0,0,1,0
606727,2023,3,0,84047,0,0,0,1,0,0,0,0,0,0,0,0,1,0
606728,2023,3,0,84047,0,0,0,1,0,0,0,0,0,0,0,0,1,0

In [62]:
dummies_attendance_model_df.columns

Index(['year', 'month', 'member', 'zipcode', 'small_family_group',
       'medium_family_group', 'large_family_group', 'adult', 'student',
       'military', 'teen', 'child', 'two_and_under', 'senior',
       'maingroup_Davis', 'maingroup_Other Utah Counties',
       'maingroup_Salt Lake County', 'maingroup_Utah County'],
      dtype='object')

In [64]:
filtered_dummies_attendance_model_df = dummies_attendance_model_df[[
    'year',
    'month',
    'member',
    'zipcode',
    'adult',
    'teen',
    'child',
    'small_family_group',
    'medium_family_group',
    'large_family_group',
    'maingroup_Davis',	
    'maingroup_Salt Lake County',
    'maingroup_Utah County',
]]
filtered_dummies_attendance_model_df

,year,month,member,zipcode,adult,teen,child,small_family_group,medium_family_group,large_family_group,maingroup_Davis,maingroup_Salt Lake County,maingroup_Utah County
0,2022,2,0,84129,1,0,0,0,0,0,0,1,0
1,2022,2,0,84129,0,1,0,0,0,0,0,1,0
2,2022,2,0,84129,0,0,0,0,0,0,0,1,0
3,2022,2,1,84010,0,0,0,0,0,0,1,0,0
4,2022,2,1,84010,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
606724,2023,3,0,84654,0,0,1,0,0,0,0,0,0
606725,2023,3,0,84654,0,0,1,0,0,0,0,0,0
606726,2023,3,0,84047,0,0,0,0,0,0,0,1,0
606727,2023,3,0,84047,1,0,0,0,0,0,0,1,0
606728,2023,3,0,84047,1,0,0,0,0,0,0,1,0

In [65]:
#Export new dataframe to csv for modeling
filtered_dummies_attendance_model_df.to_csv("./Resources/attendance_condensed_demographic_location_model_data.csv", index=False)